{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
        content="Sale of new digital cameras in Ireland, grianghraf is the lead distributor of Canon, Sony and Nikon Cameras in Ireland. We will give you free delivery on orders over 50 euro">
        <meta name="keywords"
            content="Clearance, Deals, New Arrivals, Digital Cameras, Canon, Sony, Nikon, Ireland, lenses, lens, cameras, Dublin Camera Store">
        <meta name="google-site-verification" content="dTPHgMLC7PQHQDrpRxFi7cH-XIuzbe5rRrxw8ncF14k" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/ac7ec93bb8.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>grianghraf {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex"></div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left"></div>
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>grianghraf</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        0.00 €
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">#1 for cameras in Ireland.   + Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


    <footer class="footer py-3 background-main d-flex footer-mobile background1"  style="justify-content: center;">
        <div style="width: 100%; margin: auto;">
            <h3 class="m-0 text-center">Made by Adam</h3>

            <!-- Linkedin -->
            <h4 class="m-0 text-center mt-4"><a class="m-3 footer-button rede-social"
                    href="https://www.linkedin.com/in/adam-victory/" role="button"
                    target="_blank" aria-label="linkedin"><i class="fab fa-lg fa-linkedin-in"
                        style="color: black;"></i></a>

                <!-- Github -->
                <a class="m-3 footer-button rede-social" href="https://github.com/AdamVictory" role="button" target="_blank"
                    aria-label="github" style="color: black; margin-left: 0!important;"><i class="fab fa-lg fa-github"
                        style="color: black;"></i></a>

                <!-- Facebook -->
                <a class="m-3 footer-button rede-social" href="https://www.facebook.com"
                    role="button" target="_blank" aria-label="facebook"
                    style="color: black; margin-left: 0!important;"><i class="fab fa-lg fa-facebook"
                        style="color: black;"></i></a></h4>
        </div>
        <!-- Section: Social media -->
        {% if request.user.is_authenticated %}
        <div style="width: 100%;">

            <div class="col-lg-6 col-md-6" style="margin: 10px auto; display: block;">
                <form enctype="multipart/form-data" method="POST" action="" style="text-align: center;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label style="font-size: 22px;font-weight: bold;">Subscribe to our Newsletter.</label>
                        <p>Subscribe your email in News Letter and stay on top of the news and <span
                                style="font-weight: 700;">exclusive discounts.</span></p>
                        <input type="email" class="form-control" id="userEmail" placeholder="Enter email" required>
                        <small style="font-weight: 600;color: red;" class="error"></small>
                        <input type="text" class="form-control mt-2" id="userName" placeholder="Enter name" required>
                        <small style="font-weight: 600;color: green;" class="success"></small>
                    </div>
                    <input onclick="event.preventDefault();" type="submit" value="Subscribe" id="submit" class="btn"
                        style="padding: 7px 21px;background-color: rgb(143, 1, 1);color: white;font-size: 18px;">
                </form>
            </div>


        </div>
        {% endif%}


    </footer>
</body>

<script>
    function openSearch(){
        
        $("#topnav").attr( "style", "display: none !important;" )
        $("#formSearch").css("display","flex")

    }

    function closeSearch(){
        $("#topnav").attr( "style", "display: flex !important;" )
        $("#formSearch").css("display","none")
    }
    const validateEmail = function (email) {
        var formData = new FormData();
        formData.append('email', email)
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            }

        });
        $.ajax({
            url: '/newsletter/validate',
            type: 'POST',
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            error: function (xhr) {
                console.error(xhr.statusText);
            },
            success: function (res) {
                $('.error').text(res.msg);
            }
        });
    };

    const subscribeUser = function (email, name) {
        var formData = new FormData();
        formData.append('email', email);
        formData.append('name', name);
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            }
        });
        $.ajax({
            url: '/newsletter/',
            type: 'POST',
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            error: function (xhr) {
                console.error(xhr.statusText);
            },
            success: function (res) {
                $('.success').text(res.msg);
                $('#userEmail').val(' ');
                $('#userName').val(' ');
            }
        });
    };

    (function teste($) {
        $('#submit').on('click', () => {

            event.preventDefault();
            $("#topnav").attr( "style", "display: flex !important;" )
            $("#formSearch").css("display","none")
            const userEmail = $('#userEmail').val();
            const userName = $('#userName').val();
            if (userEmail && userName) {
                subscribeUser(userEmail, userName);
            }
        });

        $('#userEmail').on('change', (event) => {
            event.preventDefault();
            const email = event.target.value;
            validateEmail(email);
        });
    })(jQuery);
</script>

</html>



